<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:label="YmmFaceHook"
        android:icon="@android:drawable/ic_menu_camera">
        <meta-data android:name="xposedmodule" android:value="true" />
        <meta-data android:name="xposeddescription" android:value="运满满人脸验证辅助 - 视频帧注入+三色活体绕过" />
        <meta-data android:name="xposedminversion" android:value="82" />
        <meta-data android:name="xposedscope" android:resource="@array/xposed_scope" />
        <meta-data android:name="xposedauthor" android:value="灰色的天" />
    </application>
</manifest>